In [1]:
import pandas as pd
import numpy as np
odd_char = '�'

In [7]:
email_data = pd.read_csv('.\email_raw.csv',encoding = "ISO-8859-1")
email_data.head(10)

                         email
0   AmandaZRibeiro@hotmail.com
1             AlanYMendesMGSDK
2      AlessandraYRibeiroIUCQT
3    MarianaXAlves@hotmail.com
4    GabrielCSilva@outlook.com
5      JamesHCosta@hotmail.com
6           ThiagoTSantosSBZCC
7        AlessandraIAlvesEQHLC
8  GabriellaMSilva@outlook.com
9      JuliaTAlves@outlook.com

In [9]:
email_data.shape

(2000, 1)

In [22]:
valid01 = email_data[email_data['email'].str.contains('.com')]

In [24]:
valid01.head(10)

                           email
0     AmandaZRibeiro@hotmail.com
3      MarianaXAlves@hotmail.com
4      GabrielCSilva@outlook.com
5        JamesHCosta@hotmail.com
8    GabriellaMSilva@outlook.com
9        JuliaTAlves@outlook.com
10     ClaudiaASilva@hotmail.com
11    JuliaTOliveira@hotmail.com
12      LucianaUAragao@gmail.com
13  GustavoMMendonça@hotmail.com

In [25]:
valid01.shape

(1501, 1)

In [27]:
gmail_list = valid01[valid01['email'].str.contains('@gmail.com')]

In [28]:
outlook_list = valid01[valid01['email'].str.contains('@outlook.com')]

In [29]:
hotmail_list = valid01[valid01['email'].str.contains('@hotmail.com')]

In [30]:
hotmail_list.head()

                         email
0   AmandaZRibeiro@hotmail.com
3    MarianaXAlves@hotmail.com
5      JamesHCosta@hotmail.com
10   ClaudiaASilva@hotmail.com
11  JuliaTOliveira@hotmail.com

In [31]:
hotmail_list.shape,gmail_list.shape,outlook_list.shape

((492, 1), (525, 1), (484, 1))

In [34]:
hotmail_list.to_csv('./new_lists/hotmail_list.csv',index=False)
gmail_list.to_csv('./new_lists/gmail_list.csv',index=False)
outlook_list.to_csv('./new_lists/outlook_list.csv',index=False)